header {
    font-family: 'Roboto', sans-serif;
}

head {
    
}
h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    background-color: ##26294f;
    color: #lavender;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

section {
    background-color: #white;
    
}

ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}