header {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    background-color: #26294f;
    color: #lavender;
}

ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}